:root {
  font-size: 0.875rem;
  // line-height: 1.2em;
}

@media screen and (min-width: 20rem) {
  :root {
    font-size: calc(0.875rem + 0.5 * ((100vw - 20rem) / 60));
    // line-height: calc(1.2em + 0.6 * ((100vw - 20em) / 60));
  }
}

@media screen and (min-width: 80rem) {
  :root {
    font-size: 1.1rem;
    // line-height: 1.8em;
  }
}