.wrapper {
  display: grid;
  grid-template-rows: 4rem auto;
  grid-template-columns:
    minmax(0, 1fr)
    minmax(0, 0.5fr)
    10px
    minmax(auto, 50ch)
    10px
    minmax(0, 0.5fr)
    minmax(0, 1fr);
  grid-template-areas:
    'brand menu'
    'outer-left outer-left-inner quote-gap-left content quote-gap-right outer-right-inner outer-right';
}
